source https://api.nuget.org/v3/index.json

# You'll probably need nuget.exe in order to `nuget restore`, `nuget pack` and `nuget push`
nuget Nuget.CommandLine ~> 3

# https://github.com/nightroman/Invoke-Build
# https://github.com/nightroman/Invoke-Build/wiki/Script-Tutorial
nuget Invoke-Build ~> 3

# Contains useful helper functions for powershell build scripts
nuget RedGate.Build ~> 0.1

nuget Pester ~> 4.7